@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");

:root {
  --primary-color: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkcolor: #1c1e53;
  --color-text: #000000;
  --color-text-oder: #ffffff;
  --text-family: "Titillium Web", sans-serif;
  --btn-family: "Titillium Web";
  --bg-image-hero-section: radial-gradient(
      circle at 13% 47%,
      rgba(58, 174, 229, 0.02) 0%,
      rgba(58, 174, 229, 0.02) 25%,
      transparent 25%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 63%,
      rgba(118, 193, 246, 0.14) 0%,
      rgba(118, 193, 246, 0.14) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 56%,
      rgba(65, 65, 65, 0.03) 0%,
      rgba(65, 65, 65, 0.03) 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 48%,
      rgba(131, 202, 244, 0.11) 0%,
      rgba(131, 202, 244, 0.11) 6%,
      transparent 6%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 17%,
      rgba(81, 199, 252, 0.17) 0%,
      rgba(81, 199, 252, 0.17) 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(110, 150, 238, 0.31) 0%,
      rgba(110, 150, 238, 0.31) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 52%,
      rgba(69, 69, 69, 0.03) 0%,
      rgba(69, 69, 69, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    linear-gradient(450deg, rgba(194, 240, 250, 0), rgba(194, 240, 250, 0));
  --bg-image-myskills: radial-gradient(
      circle at 13% 47%,
      rgba(148, 201, 226, 0.02) 0%,
      rgba(211, 22, 15, 0) 25%,
      transparent 25%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 63%,
      rgba(118, 193, 246, 0.14) 0%,
      rgba(118, 193, 246, 0.14) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 56%,
      rgba(65, 65, 65, 0.03) 0%,
      rgba(65, 65, 65, 0.03) 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 48%,
      rgba(131, 202, 244, 0.11) 0%,
      rgba(131, 202, 244, 0.11) 6%,
      transparent 6%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 17%,
      rgba(81, 199, 252, 0.17) 0%,
      rgba(81, 199, 252, 0.17) 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(110, 150, 238, 0.31) 0%,
      rgba(110, 150, 238, 0.31) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 52%,
      rgba(69, 69, 69, 0.03) 0%,
      rgba(69, 69, 69, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    linear-gradient(450deg, rgba(194, 240, 250, 0.705), rgba(194, 240, 250, 0));
}

body {
  margin: 0;
  font-family: var(--text-family);
  -webkit-font-smoothing: var(--text-family);
  -moz-osx-font-smoothing: var(--text-family);
  font-style: normal;
}

.hero-section {
  height: 90%;
  background: var(--bg-image-hero-section);
}
.heroSectionContainerText {
  margin-left: auto;
  margin-right: auto;
}
.heroSectionContainer {
  display: flex;
}

#myprojects {
  background: var(--bg-image-myskills);
}

/*Style hero section responsive*/
@media screen and (max-width: 480px) {
  .avatar {
    width: 50%;
    height: 10vh;
  }
  .heroSectionContainer {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.096);
    padding: 0%;
    display: block;
  }
  .heroSectionContainer a {
    font-size: 0.7rem;
  }
  .heroSectionContainerText h1 {
    font-size: 2.5rem;
    padding: 0;
  }
  .heroSectionContainerText p {
    font-size: 1rem;
    padding-top: 1rem;
    text-align: center;
    padding-left: -4rem;
    font-size: 1.4rem;
  }
  .buttonTelecharger{
    width: 50%;
    font-size: 1rem;
  }
  .heroSectionContainerText {
    width: 100%;
    text-align: center;
    padding: 0 1rem 0 1rem;
  }
  .heroSectionContainerImage img {
    width: 75%;
    margin-top: 2rem;
    margin-left: 6rem;
    border-radius: 100%;
    border: 1px solid rgba(184, 181, 181, 0.274);
  }
  .heroSectionContainerImage {
    width: 100%;
  }
}

/*Style MySkills*/
.myskillsTitle p {
  font-size: 1.5rem;
}
.skills {
  width: 20%;
  height: 45vh;
}
.skills figure{
  padding-left: 4.5rem;
  padding-top: 1rem;
}

/*Style MySkills reponsive*/

@media screen and (max-width: 480px) {
  .myskillsTitle p {
    font-size: 1.2rem;
  }
  .myskillsTitle h2 {
    font-size: large;
  }
  .skills {
    width: 80%;
    height: 35vh;
  }
  .skills figure {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
  }
}

/*Style Mes Projets*/

#myProjects {
  width: 100%;
  height: 80vh;
}
.myProjectsTitle p{
font-size: 1.5rem;
}
.myProjectsContainer {
  display: flex;
  justify-content: center;
  height: 45vh;
  width: 80%;
  gap: 4rem;
}
.project {
  width: 24%;
  min-height: 30vh;
}
.project-image {
  position: relative;
}
.buttonVoirPlus{
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

/*Style Mes Projets responsive*/
@media screen and (max-width: 480px) {
  .myProjectsContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4rem;

  }
  #myProjects {
    width: 100%;
    min-height: 200vh;
  }
  .project {
    width: 70%;
    min-height: 20vh;
    margin: 0 auto;
  }
  #myProjects p {
    font-size: 1.2rem;
  }
  #myProjects h2 {
    font-size: large;
  }
  .buttonVoirPlus{
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
/*Contact style*/
.right_conatct_social_icon {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}

.right_conatct_social_icon {
  height: 100%;
}
.contact_field .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1325e8;
}
.contact_field .form-control::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

button.contact_form_submit,
.contact {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
  color: #ffffff;
}



/*Formulaire style*/
.containerFormulaire{}

@media screen and (max-width: 480px) {
  .formulaire{
    width: 100%;
    height: 100vh;
    background: #000;
  }
  .contact{
    display: none;
  }
  }


/* footer style*/
footer {
  margin: auto;
}
footer figure {
  width: 10%;
  height: 20vh;
}
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
/*footer style responsive*/
@media screen and (max-width: 480px) {
  footer figure {
    width: 45%;
  }
}
