@tailwind base;
@tailwind components;
@tailwind utilities;

.skills {

	transition-duration: .5s;
	transition-property: transform;
	&:hover {
		transform: scale(1.1);
	}
}

.project { transition: all .2s ease-in-out; }
.project:hover { transform: scale(1) rotate(5deg); }

















@media (max-width: 768px) {
    .component {
      /* Styles pour les écrans mobiles */
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .component {
      /* Styles pour les tablettes */
    }
  }
  
  @media (min-width: 1024px) {
    .component {
      /* Styles pour les ordinateurs portables et de bureau */
    }
  }